// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//DataTables
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';
@import '~datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css';
@import '~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';